body {
    background-color: white;
    color: black;
    font-family: Arial;
    margin: 0px;
    padding-top: 60px;
}
header {
    background-color: #f8f8f8;
    color: black;
    font-family: Arial;
    padding: 10px;
    font-size: 20pt;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
main {
    color: black;
    font-family: Arial;
    font-size: 16pt;
    margin-top: 60px;
}
footer {
    background-color: #15260f;
    color: #fff;
    font-family: Arial;
    margin-top: 60px;
    padding: 10px;
    font-size: 20pt;
    position: relative;
    text-align: justify;
    bottom: 0;
    right: 0;
    left: 0;
    position: static;
}
/* a {
    color: blue;
    text-decoration: none;
}
a:link {
    color: blue;
    text-decoration: none;
    transition: 1s 2s;
}
a:visited {
    color: green;
    text-decoration: overline;
    font-style: italic;
}
a:hover {
    color: red;
    background-color: blanchedalmond;
    box-shadow: gray;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
} */

/* 1. О Компании стили */
/* Иконка меню */
.nav-toggle-mobile {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 101;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    background-color: #f8f8f8;
}

.icon-bar {
    display: block;
    width: 35px;
    height: 2.6px;
    margin: 4px 0;
    background-color: #333;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-panel {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 33%;
    background-color: #f8f8f8;
    transition: right 0.3s ease-in-out;
    z-index: 100;
    padding-top: 50px;
    box-sizing: border-box;
}

.nav-panel.open {
    right: 0;
}

.nav-panel ul {
    list-style-type: none;
    padding: 0;
}

.nav-panel ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

.nav-panel ul li:hover {
    background-color: #ddd;
    transform: scale(1.03);
}

.nav-panel ul li a {
    text-decoration: none;
    color: #333;
}

.nav-panel ul li a.active {
    color: #007BFF;
}
.nav-toggle-mobile:hover {
    transform: scale(1.02);
    background-color: #f8f8f8;
    box-shadow: 3px 3px 2px #e2b1b130;
    border: 2px solid #29272730;
}
.nav-toggle-mobile.open .icon-bar {
    background-color: transparent;
}

.nav-toggle-mobile.open .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: black;
}

.nav-toggle-mobile.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.nav-toggle-mobile.open .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: black;
}
.nav-panel.open ul li a:hover {
    text-decoration: underline;
}
/*  */